@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

/*RESEAT*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    text-decoration: none;
    list-style: none;
}

html {
    background-color: rgb(255, 225, 105);
}

body {
    margin: auto;
}


/*HEADER*/
header {
    height: 104px;
    padding-top: 25px;
}

header a#logo {
    color: hsla(228, 28%, 20%, 1);
    ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;

}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}


.menu li a {
    display: block;
    padding: 10px;
}





div.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

div.text h1 {
    max-width: 509px;
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    color: hsla(228, 28%, 20%, 1);
}

div.text p {
    font-family: 'Montserrat', sans-serif;
    color: hsla(0, 0%, 45%, 1);
    margin-bottom: 35px;
    max-width: 376px;
}

div.text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a.button-first {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 20px;
    border-radius: 37px;
    color: white;
    background-color: hsla(190, 100%, 38%, 1);
}

a.button-first:hover {
    background-color: rgb(255, 225, 105);
    border: 1px solid hsla(190, 100%, 38%, 1);
    color: hsla(190, 100%, 38%, 1);
}

a.button-secund {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 20px;
    border-radius: 37px;
    border: 1px solid hsla(190, 100%, 38%, 1);
    color: hsla(190, 100%, 38%, 1);
}

a.button-secund:hover {
    color: white;
    background-color: hsla(190, 100%, 38%, 1);
}
