@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

/*RESEAT*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: hsl(0, 0%, 98%);
}

p {
   color: hsl(0, 0%, 45%);
}


/*HEADER*/

header ul.menu-600px {
    display: none;
}

header {
    height: 90px;
    width: 100%;   
    padding-top: 25px;
    position: fixed;

    display: flex;
    justify-content: space-between;

    background-color: #F7DE82;

}

header a#logo {
    color: hsla(228, 28%, 20%, 1);
    ;
    font-weight: 700;
    font-size: max(20px, 1.5vw);

    margin-left: 95px;

}


.menu {
    display: flex;
    margin-right: 95px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: hsl(0, 0%, 45%);
}

ul li a:hover {
    color: hsla(228, 28%, 20%, 1);
}

div.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.text h1 {
    /*max-width: 509px;*/
    font-size: max(55px, 4.5vw);
    color: hsla(228, 28%, 20%, 1);
    
    margin-left: 95px;
    margin-top: 171.5px;
}

div.text p {
    color: hsla(0, 0%, 45%, 1);
    margin-bottom: 35px;
    font-size: max(19px, 1.3vw);

    margin-left: 95px;
    margin-top: 35px;
    margin-bottom: 35px;
    /*max-width: 376px;*/
}

div.text a {
    font-weight: 500;
}

a.button-first {
    /*top/right/bottom/left*/
    padding: 10px 20px 10px 26px;
    border-radius: 37px;
    color: white;
    background-color: hsla(190, 100%, 38%, 1);

    margin-left: 95px;
    margin-right: 10px;
}

a.button-first:hover {
    background-color: rgb(255, 225, 105);
    border: 1px solid hsla(190, 100%, 38%, 1);
    color: hsla(190, 100%, 38%, 1);
}

a.button-secund {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 20px;
    border-radius: 37px;
    border: 1px solid hsla(190, 100%, 38%, 1);
    color: hsla(190, 100%, 38%, 1);

}

a.button-secund:hover {
    color: white;
    background-color: hsla(190, 100%, 38%, 1);
}

section.section#home {
    padding-top: 105px;
    background: linear-gradient(hsl(47, 90%, 76%), hsl(48, 83%, 63%));
}



/*SERVICES*/
section.services {
    text-align: center;
}

h2.section-title {
    color: hsla(228, 28%, 20%, 1);
    font-size: max(40px, 64px);
    text-align: center;

    padding-top: 100px;
    margin-bottom: 10px;
}

div.cards-services {
    display: flex;
    justify-content: center;
}

div.cards-services div {
    border-radius: 5px;

    text-align: center;
    width: 325px;
    height: 142px;

    margin-top: 80px;
    margin-bottom: 100px;

}

div.cards-services div:hover {
    box-shadow: 3px 10px 50px 5px rgb(202, 202, 202);
}

div.cards-services div:nth-child(2) {
    background-color: hsla(190, 100%, 38%, 1);
    margin-left: 30px;
    margin-right: 30px;
}
div.cards-services div:nth-child(2) p{
    color: white;
}

div.content-cards {
    text-align: center;
    padding-top: 30px;
}

/*PRACTICE*/
section.section-practice {
    background-color: hsl(0, 0%, 98%);
    margin-bottom: 80px;
}

.section-practice span p{
    text-align: center;
    margin-bottom: 70px;
}

.container-cards-practice {
    display: flex;
    gap: 30.5px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-practice:hover {
    box-shadow: 3px 10px 50px 5px rgb(202 202 202);
}

.card-practice {
    background-color: hsl(0, 0%, 95%);
    padding: 30px;

    max-width: 238px;
    max-height: 341px;

}

.card-practice img {
    width: 180px;
}

.card-practice h3 {
    margin-bottom: 15px;
}

.card-practice p {
    margin-bottom: 30px;
}

/*BUSSINES*/
section.section-bussines {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section.section-bussines p{
    text-align: center;
    padding-bottom: 50px;
}

div.container-section-bussines {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.text-bussines {
    max-width: 650px;
    padding-left: 120px;
} 

div.text-bussines h2 {
    color: #252A41;
    font-size: 40px;
}

div.text-bussines p{
    text-align: left;
}

.items-bussines h4 {
    padding-bottom: 10px;
    padding-top: 5px;
}




section.section-touch {
    padding-bottom: 100px;
}

div.container-touch {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 

    max-width: 985px; /*providencial*/
    
}

div.touch-text p {
    padding-bottom: 80px;
    text-align: center;
}

div.img-touch {
    padding-top: 80px;
    padding-left: 128px;
    padding-right: 127px;
    padding-bottom: 15px;
}

div.card-text-touch {
    padding-left: 40px;
    padding-bottom: 15px;
}
 
div.card-touch {
    background-color: #FFFFFF;
    max-width: 328px;
    max-height: 393px;
}

div.card-touch:nth-child(2) {
    background-color: #252B42;
}

div.card-touch a {
    border-radius: 5px;
    padding: 10px; 
}

span.color-card-touch {
    border: 1px solid #FFA62B;
    color: #FFA62B;
    border-radius: 5px;
    padding: 10px;
}

div.card-touch a:nth-child(2) {
    border: 1px solid white;
    color: white;
}

div.container-card-touch {
    padding: 100px;
}

div.button-touch {
    padding-left: 110px;
    padding-bottom: 80px;
}

div.button-touch h5 {
    padding-bottom: 25px;
}


footer {
    display: flex;
    justify-content: space-around;
}


.img-footer {
    display: flex;
    gap: 20px;
}

@media (max-width:600px) {

    header {
        background-color: white;
    }

    ul.menu {
        display: none;
    }

    header ul.menu-600px {
        display: flex;
    }

    header ul.menu-600px img {
        padding-right: 30px;
    }




   div {
    background-color: blue;
   }
}
